*{
    padding: 0;
    margin: 0;
}

nav{
    position: fixed;
    background-color: rgb(91, 166, 251);
    height: 60px;
    width: 100%;
    z-index: 1;

}
.logo{
    position: relative;
    left: 5%;
    font-size:25px;
    color: white;
    font-weight: bold;
    line-height: 60px;
}
ul{
    list-style: none;
    position: relative;
    float: right;
    margin: auto;
    display: flex;
}
ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
    position: relative;
}


ul li a{
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 17px;
}
.section1{
   padding-top: 50px;
}

.main_img{
    width: 100%;
    height: 600px;

}

.main_text{
    position: absolute;
    top: 20px;
    left: 30px;
    color: blue;
    padding-left:20px ;
    padding-right: 20px;
}

.welcome_img{
    width: 100%;
    height: 250px;
    border-radius: 25px;

}
.container{
    padding-top: 70px;
}

.text{
   align-content:right;
   align-items: right;
}

.teacher{
    border-radius: 25px;
    width: 100%;
    height: 200px;
  
}

.Courses{
    width: 100%;
    height: 200px;
    border-radius: 25px;
}
.label_text{
    display: inline-block;
    width: 100%;
    text-align: right;
    padding-right: 10px;}

.input_deg {
    width: 30%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid blue;
}
.adm_int{
    padding-top: 10px;
    align-items: center;
}
.input_text{

    width: 30%;
    height: 90px;
    border-radius: 25px;
    border: 1px solid blue;
}

#submit{
    position: relative;
    width: 15%;
    left: 5%;
    align-items: center;
}
.btn btn-primary{
    align-items: center;
}


footer{
    background-color: black;
    height: 70px;
    width: 100%;
}
.f_text{
    text-align: center;
    color: white;
    top: 20%;
    position: relative;
}
.start{
    padding-top: 30px;
}


/*login form*/

.form_deg{
    margin-top: 200px;
}
.label_text{
    display: inline-block;
    color: skyblue;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.login_fo{
    border: solid 1px lightgray;
    background-color: rgb(28, 30, 30);
    width: 400px;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 25px;
}
.title_log{
    font-size: 26px;
    background-color: rgb(183, 230, 230);
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    align-items: flex-end;
}

.error_m{
    font-size: 26px;
    background-color: rgb(183, 230, 230);
    width: 400px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    align-items: flex-end;
}
